@model IEnumerable<NPMS.Models.Parks>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>
            <td>
                @if(item.ParkImageUrl!=null)
                {
                    <img src="@Url.Content(item.ParkImageUrl)" width="200" height="200" alt="Image"/>
                }
            </td>
                <td>
                    <a asp-controller="Cart" asp-action="Index" asp-route-id="@item.ParkId">Buy Pass</a> |
                    <a asp-action="ViewEvents" asp-route-id="@item.ParkId">View Events</a> |
                </td>
            </tr>
}
</tbody>
</table>