@model IEnumerable<NPMS.Models.Parks>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@{
    ViewData["Title"] = "Index";
}

<h2 align="center">Welcome to NPMS</h2>
<br />
<p>
    "National parks are the best idea we ever had. Absolutely American, absolutely democratic, they reflect us at our best rather than our worst."

    So wrote author Wallace Stegner in 1983. We invite you to discover why.

    Explore the stories of America's people and places. These stories are found across our nation's landscapes—in more than 400 national parks, in national heritage areas, along historic trails and waterways, and in every neighborhood.
    Learn about the natural resources in parks, from the rocks under our feet to the sky overhead. Investigate the issues that affect our parks and how we join with neighbors and partners to address them.
    Find opportunities for kids to discover the wonders of the national parks.
    Learn who we are, what we do, and what's going on in the national parks. .
</p>
<p>Join us. Click on Work For Us above to check for any suitable positions</p>

<p><b>Please find the details of the national parks.</b></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>
            <td>
                @if(item.ParkImageUrl!=null)
                {
                    <img src="@Url.Content(item.ParkImageUrl)" width="200" height="200" alt="Image"/>
                }
            </td>
                <td>
                    <a asp-controller="Cart" asp-action="Index" asp-route-id="@item.ParkId">Buy Pass</a> |
                    <a asp-action="ViewEvents" asp-route-id="@item.ParkId">View Events</a> |
                </td>
            </tr>
}
</tbody>
</table>