@model IEnumerable<NPMS.Models.Passes>

@{
    ViewData["Title"] = "Passes";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassPrice)
            </th>
            <th>Buy</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassPrice)
                </td>
                <td>
                <form method="post" asp-controller="Cart" asp-action="AddOrder" asp-route-Id="@item.Id">
                    <input type="submit" value="Add to cart">
                   </form>
                </td>
            </tr>
        }
    </tbody>
</table>