@model NPMS.Models.Careers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Careers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareerRecruiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareerRecruiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareerPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareerPlace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CareerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
