@model IEnumerable<NPMS.Models.Parks>

@{
    ViewData["Title"] = "Index";
}

<h1> Parks</h1>&nbsp;
@if (User.IsInRole("Admins"))
{


    <p>
        <a asp-action="Create">Add New Park</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
                @Html.DisplayNameFor(model => model.ParkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>
            <td>
                @if(item.ParkImageUrl!=null)
                {
                    <img src="@Url.Content(item.ParkImageUrl)" width="200" height="200" alt="Image"/>
                }
            </td>
                @if (User.IsInRole("Admins"))
                {


                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ParkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkId">Delete</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
